<%= form_tag "/orders/new" do %>
  
<%= error_messages_for @order %>

<h1>Order Stamp(s)</h1>

<%= label_tag "Quantity" %>
<%= text_field_tag "Quantity", class: "form-control" %>
<br>
<%= label_tag "Stamp_type" %>
<%= select_tag "Stamp_type", options_for_select(
  ["Rubber Stamp", "X-Stamper", "Trodat Stamp", "Other"],
  @order.stamp_type), prompt: "Choose One", class: "form_control" %>
<br>

<%= label_tag "Color" %>
<%= select_tag "Color_type", options_for_select(["Black", "Red", "Blue", "Green", "Violet"],
  @order.stamp_color), prompt: "Choose One", class: "form-control" %>
<br>

<%= check_box_tag "Center Copy", "1", @order.is_center_copy, class: "form-control" %>
<%= label_tag "Center Copy", "Center Copy" %>
<br>

<%= check_box_tag "flush_left", "1", @order.flush_left %>
<%= label_tag "flush_left", "Flush_left" , class: "form-control" %>
<br>

<%= check_box_tag "Other", "1", @order.other %>
<%= label_tag "Other", "Other" , class: "form-control" %>
<br>
<%= label_tag "Size" %>
<%= select_tag "Size", options_for_select(
  [4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16],
  @order.size), prompt: "Choose One", class: "form_control" %> Pt. 
<%= label_tag "Type_style" %>
<%= select_tag "Type_style", options_for_select(
  ["Regular", "Bold", "Script", "underscore", "Other"],
  @order.type_style), prompt: "Choose One", class: "form_control" %>
  
<%= label_tag "Line_1" %>
<%= text_field_tag "line_1", class: "form-control" , placeholder: "Size, Type Style and Text" %>
<br>
<%= label_tag "Line_2" %>
<%= text_field_tag "line_2", class: "form-control" , placeholder: "Size, Type Style and Text" %>
<br>
<%= label_tag "Line_3" %>
<%= text_field_tag "line_3", class: "form-control" , placeholder: "Size, Type Style and Text" %>
<br>
<%= label_tag "Line_4" %>
<%= text_field_tag "line_4", class: "form-control" , placeholder: "Size, Type Style and Text" %>
<br>
<%= label_tag "Line_5" %>
<%= text_field_tag "line_5", class: "form-control" , placeholder: "Size, Type Style and Text" %>
<br>
<%= label_tag "Line_6" %>
<%= text_field_tag "line_6", class: "form-control" , placeholder: "Size, Type Style and Text" %>
<br>
<%= label_tag "Line_7" %>
<%= text_field_tag "line_7", class: "form-control" , placeholder: "Size, Type Style and Text" %>
<br>
<%= label_tag "File Upload" %>
<%= image_upload_tag "file_upload" , class: "form-control" %>
<br>
<%= label_tag "Comments" %>
<%= text_field_area_tag "Comments", class: "form-control" , rows: 3 %>
<br>
<%= submit_tag "Place order" , class: "form-control" %>

<% end %>